<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <%=userInfo.name%>님의 성별은 <%=userInfo.gender%>이고,
    <br />
    생년월일은 <%=userInfo.year%>년 <%=userInfo.month%>월 <%=userInfo.date%>일
    <br />
    관심사는 <%=userInfo.int%> 이고 좋아하는 색상은 <%=userInfo.color%> ,
    좋아하는 숫자는 <%=userInfo.num%>이군요
  </body>
</html>
