<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  ejs에서 또 다른 ejs 불러옴 -->
    <%- include("./includes/head",{title:"Home"}) %>
    <link rel="stylesheet" href="/public/css/home.css">
  </head>
  <body>
    <%-include("./includes/header") %>
    <!-- <header>헤더</header> -->
    <h1>Hello Express with ejs !!</h1>
    <p>안녕하세요 ~.~ <%=userId%>님!</p>
    <p>당신의 비번 <%=userPw%>을 숨기세요 ><</p>
    <a href="./login">Login</a>
    <a href="./register">Sign In</a>
    <hr />
    <% for(let i=0; i<btns.length; i++) { %>
    <div>
      <%= i%> <button style="background-color: plum"><%=btns[i]%></button>
    </div>
    <% } %>
    <span><%=jelly.name%></span>
    <span><%=jelly.flavor%></span> <hr>
    <span><%=snack%> 마시개다</span>
    <br>
    <!-- true 자체가 출력 됨 -->
    <h5>
    <%= isLogin %>
  </h5>
  <!-- 변수지만 html 내에 작성하는 것이 아니므로 '=' 안 씀 위랑 구분해보기 -->
    <% if (!isLogin) { %>
      Logged in
      <% } else { %>
      Not Logged In 
      <% } %>
  </body>
</html>
