<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>axios get 회원가입</h1>
    <form name="register">
      <label for="username">이름</label>
      <input type="text" name="username" id="username" />
      <br />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="male" value="male" />
        <label for="male">남자</label>
        <input type="radio" name="gender" id="female" value="female" />
        <label for="female">여자</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>생년월일</legend>
        <select name="birthYear" id="year">
          <% for (let i = 0; i < 50; i++) { %>
          <option value="<%= 2010 - i %>"><%= 2010 - i %></option>
          <% } %>
        </select>
        <label for="year">년</label>
        <select name="birthMonth" id="month">
          <% for (let i = 1; i < 13; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="month">월</label>
        <select name="birthDay" id="day">
          <% for (let i = 1; i < 31; i++) { %>
          <option value="<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <label for="day">일</label>
      </fieldset>
      <br />

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="hobby" id="travel" value="travel" />
        <label for="travel">여행</label>
        <input type="checkbox" name="hobby" id="fashion" value="fashion" />
        <label for="fashion">패션</label>
        <input type="checkbox" name="hobby" id="food" value="food" />
        <label for="food">음식</label>
      </fieldset>
      <button type="button" onclick="registerFunc()">회원가입</button>
      <!-- button 주의하기 -->
    </form>
    <div class="rst2">결과</div>

    <script>
      const rst2 = document.querySelector(".rst2");
      const form = document.forms["register"];
      const userInfo = {
        name: form.username.value,
        gender: form.gender.value,
        birthYear: form.birthYear.value,
        birthMonth: form.birthMonth.value,
        birthDay: form.birthDay.value,
        hobby: form.hobby.value,
      };

      // console.log(userInfo);
      async function registerFunc() {
        console.log("register 호출");
        const response = await axios({
          method: "get",
          url: "/rgstr",
          params: userInfo,
        });
        console.log(response.userInfo);
        const { name, gender, birthYear, birthMonth, birthDay, hobby } =
          userInfo;
        rst2.innerText = `이름은 ${name},성별은 ${gender}, 생년월일은 ${birthYear}-${birthMonth}-${birthDay},
            취미는 ${hobby}`;
      }
    </script>
  </body>
</html>
