<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1>getInfo를 통해 얻어온 정보를 표시할 페이지입니다</h1>
    <br />
    이름은 <%=userInfo.nameForm%>, 성별은 <%=userInfo.gender%>, <br />
    생년월일은 <%= userInfo.year%>년 <%=userInfo.month%>월 <%=userInfo.date%>일
    <br />
    취미는 <%=userInfo.interest%>
    <br />
  </body>
</html>
