<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="get">
      <h2>GET 요청</h2>
      <form action="/getForm" method="get">
        <input type="text" name="id" id="" placeholder="ID" />
        <input type="password" name="pw" id="" placeholder="PW" />
        <button>제출</button>
      </form>
    </div>

    <div class="post">
      <h2>POST 요청</h2>
      <form action="/postForm" method="post">
        <input type="text" name="id" id="" placeholder="ID" />
        <input type="password" name="pw" id="" placeholder="PW" />
        <button>제출</button>
      </form>

      <br />
      <br />
      <br />
      <form action="/getInfo" method="get">
        이름
        <input type="text" name="nameForm" id="nameForm" />
        <fieldset>
          <legend>성별</legend>
          <input type="radio" name="gender" value="male" />남자
          <input type="radio" name="gender" value="female" />여자
        </fieldset>
        <fieldset>
          <legend>생년월일</legend>
          <select type="select" name="year" id="year">
            <option value="2010">2010</option>
            <option value="2020">2020</option>
            <option value="2030">2030</option></select
          >년
          <select type="select" name="month" id="month">
            <% for (let i=1; i<=12; i++){ %>
            <option value="<%=i%>"><%= i %></option>
            <% } %></select
          >월
          <select type="select" name="date" id="date">
            <%for (let i=1; i<=31; i++) {%>
            <option value="<%=i%>"><%= i %></option>
            <%}%></select
          >일
        </fieldset>
        <fieldset>
          <legend>관심사</legend>
          <label for="travel">
            <input type="checkbox" name="interest" value="travel" />여행
          </label>
          <label for="fashion">
            <input type="checkbox" name="interest" value="fasion" />패션
          </label>
          <label for="food">
            <input type="checkbox" name="interest" value="food" />음식
          </label>
        </fieldset>
        <br />
        <button>회원가입</button>
      </form>
    </div>
  </body>
</html>
